<div class="row" style="background-color:black">
<div class="col-md-4">
    <div class="thumbnail">
        <img src="https://irishlaundry.com/userfiles/image/Weapon.jpg" style="width: 100%">
    </div>
    <div class="caption" style="background-color: white">
        <h3 style="text-align:center;color:red">Order This T-Shirt<BR/>
            $19.99</h3>
    </div>
</div>
<div class="col-md-8"><img src="http://cdn3.spiegel.de/images/image-179322-galleryV9-lhqa.jpg" style="width: 100%"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="http://cdn1.spiegel.de/images/image-83384-galleryV9-nxfp.jpg" style="width:100%">
    </div>
    <div class="col-md-6">
        <h4 style="color: #FFCC33">Here’s Your Chance to Buy a KITT Car From David Hasselhoff Himself</h4>
        <p style="color: #B8B8B8">The car is going on the auction block along with heaps of other Hasselhoff-related items. Along with KITT, the Hoff is auctioning off belongings like a Baywatch pinball machine and floor-length denim duster jacket. If the full-size KITT is too expensive, he’s also selling a KITT golf cart.
        </p>
    </div>
</div>
